@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    --color-brand-50: oklch(0.97 0.02 264);
    --color-brand-100: oklch(0.93 0.05 264);
    --color-brand-200: oklch(0.87 0.10 264);
    --color-brand-300: oklch(0.79 0.16 264);
    --color-brand-400: oklch(0.70 0.20 264);
    --color-brand-500: oklch(0.61 0.24 264);
    --color-brand-600: oklch(0.51 0.24 264);
    --color-brand-700: oklch(0.43 0.21 264);
    --color-brand-800: oklch(0.36 0.17 264);
    --color-brand-900: oklch(0.30 0.13 264);
    --color-brand-950: oklch(0.22 0.09 264);
}
